// Variables are specifically from the IPInfo designs (rather than OOUI)

// Padding
@ipinfo-padding: 16px;

// Margin
@ipinfo-widget-properties-left-right-margin: 12px;

// Font
// properties font
@ipinfo-property-font-size: 0.8125em;
