// Variables are specifically from the IPInfo designs (rather than OOUI)

// Padding
@ipinfo-padding: 16px;
@ipinfo-button-padding: 23px;

// Margin
@ipinfo-widget-properties-left-right-margin: 12px;

// Font
// properties font
@ipinfo-property-font-size: 0.8125em;

// Colors
// TODO: Can these be imported from somewhere more central? See T309828
@color-subtle: #54595D;
@color-placeholder: #72777D;
@color-base: #202122;
@icon-opacity-subtle: 0.67;
